<div>
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= link_to t(".rortut"), Settings.url.railstut %>
  </h2>
  <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"), Settings.url.ror %>
