default: &default
  adapter: mysql2
  encoding: utf8
  username: admin
  password: "@Bai12011998"
  Host: localhost
  port: 3306

development:
  <<: *default
  database: sample_app

test:
  <<: *default
  database: sample_app

production:
  <<: *default
  database: sample_app
